<launch>

  <arg
    name="model" />
  <param
    name="robot_description"
    textfile="$(find lunabotics)/digbot4/urdf/digbot4.urdf" />
  <node
    name="joint_state_publisher_gui"
    pkg="joint_state_publisher_gui"
    type="joint_state_publisher_gui" />
  <node
    name="robot_state_publisher"
    pkg="robot_state_publisher"
    type="robot_state_publisher" />
  <node
    name="rviz"
    pkg="rviz"
    type="rviz"
    args="-d $(find lunabotics)/digbot4/rviz/urdf.rviz" />

  <!--Map Arg-->
  <arg
    name="map_file"
    default="$(find lunabotics)/maps/map.yaml"/>
    <!-- Map server -->
  <node
    pkg="map_server"
    name="map_server"
    type="map_server"
    args="$(arg map_file)"/>

</launch>

<!--
<launch>

  <arg name="model" default="$(find lunabotics)/digbot4/urdf/digbot4.urdf"/>
  <arg name="gui" default="true" />
  <arg name="rvizconfig" default="$(find urdf_tutorial)/rviz/urdf.rviz" />

  <param name="robot_description" command="$(find xacro)/xacro $(arg model)" />

  <node if="$(arg gui)" name="joint_state_publisher" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui" />
  <node unless="$(arg gui)" name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" required="true" />

</launch> -->
